<!DOCTYPE html>

<head>
    <title>About Splitplease</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
    <body>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary-custom">
            <a class="navbar-brand" href="/"><strong>Splitplease</strong></a>
            <div class="navbar-nav" id="nav-item-container">
                <!-- navbar stuff inserted here -->
            </div>
        </nav>
        <div class="container text-center" id="aboutContainer">

            <h1><strong>An easier way to split bulk orders</strong></h1>
            <p class="about-para">
                Splitplease is a platform for MIT students to organize large orders of everyday items to split. Save on shipping costs and benefit from cheaper bulk prices by using Splitplease to find people nearby who want to buy the same product, then placing an order together.
            </p>

            <h1><strong>Why we created Splitplease</strong></h1>
            <p class="about-para">
                Want four pens, but Amazon only sells packs of a dozen? Want to try out a new perfume, but balk at paying $80 for a full bottle you might use just once? Need a single food item, but would rather not make the trek to Trader Joe's for one box of cookies? We don't think economies of scale should be limited to big companies, families, or living groups. Splitplease lets you make purchases more cheaply and efficiently by connecting you directly to others with the same needs.
            </p>

            <h1><strong>Getting started</strong></h1>
            <ol class="left-list">
                <h3 align=left><li>Create an account</li></h3>
                <p class="about-para">
                    Sign up with your MIT Kerberos.
                    <img src="/login.jpg" class="tutorial-image" style="width: 600px"/>
                </p>
                <p class="about-para">
                    Then fill in your location so you can find orders near you.
                    <img src="/location.jpg" class="tutorial-image" style="width: 300px"/>
                </p>
                <h3 align=left><li>Start an order</li></h3>
                <p class="about-para">
                    Say what you're buying and how much, and include a link to the item if you're buying it online.
                    <img src="/neworder.jpg" class="tutorial-image" style="width: 400px"/>
                    <img src="/newordermodal.jpg" class="tutorial-image" style="width: 400px"/>
                </p>
                <h3 align=left><li>Join an order</li></h3>
                <p class="about-para">
                    Find orders by scrolling through the feed on your homepage or by searching for what you want.
                    <img src="/claim.jpg" class="tutorial-image" style="width: 500px"/></br>
                    To claim a portion, just type the amount you'd like to buy.
                    <img src="/claimnumber.jpg" class="tutorial-image" style="width: 500px"/></br>
                     When the order is placed, you'll receive an email. Then you and the other people on the order can coordinate pickup on the email thread.
                </p>
                <h3 align=left><li>View your profile and manage your orders</li></h3>
                <p class="about-para">
                    Go to your profile to see your past orders and edit your location.
                    <img src="/prevorders.jpg" class="tutorial-image" style="width: 400px"/></br>
                    Under the Manage Orders tab, you can see your active orders and place an order or cancel it.
                    <img src="/manageorder.jpg" class="tutorial-image" style="width: 650px"/>
                </p>
            </ol>

            <h1><strong>That's it! Happy splitting!</strong></h1>
        </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/about.js"></script>
</html>